.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0;
    
}
.div2{
    margin: 10px;
    height: 50vh;  
}
.heading{
    margin: 10px;
    text-align: center;
    border-style: none;
}
.div2 p{
    text-align: center;
}
.active{
 font-weight: bold;
 border-bottom: 5px solid black;
}